<nav th:fragment="header" class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Adhyapan</a>
		</div>
		<ul class="nav navbar-nav">
			<!--li><a href="/">Home</a></li-->
			<li class="dropdown"><a class="dropdown-toggle"
				data-toggle="dropdown" href="#">Admin Control<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="/manageCenter">Manage Center</a></li>
					<li><a href="/manageSchool">Manage School</a></li>
					<li><a href="/manageSubject">Manage Subject</a></li>
					<li><a href="/manageStandard">Manage Standard</a></li>
				</ul>
			</li>
			<li class="dropdown"><a class="dropdown-toggle"
				data-toggle="dropdown" href="#">Student Management<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="/registerStudentLandingPage">Register Student</a></li>
					<li><a href="/viewStudentLandingPage">View Student</a></li>
					<li><a href="#">Move Student Standard</a></li>
				</ul>
			</li>
			<li class="dropdown"><a class="dropdown-toggle"
				data-toggle="dropdown" href="#">Teacher Management<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="/registerTeacherLandingPage">Register Teacher</a></li>
					<li><a href="/viewTeacherLandingPage">View Teacher</a></li>
				</ul>
			</li>
			<li class="dropdown"><a class="dropdown-toggle"
				data-toggle="dropdown" href="#">Class Management<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="/createClassLandingPage">Create Class</a></li>
					<li><a href="/viewClassLandingPage">View Class</a></li>
					<li><a href="/assignStudentLandingPage">Assign Students</a></li>
				</ul>
			</li>
			<li class="dropdown"><a class="dropdown-toggle"
				data-toggle="dropdown" href="#">Exam Management<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#">Create Exam</a></li>
					<li><a href="#">View Exam</a></li>
					<li><a href="#">Assign Students</a></li>
				</ul>
			</li>
			<li class="dropdown"><a class="dropdown-toggle"
				data-toggle="dropdown" href="#">Fee Collection<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="/collectRegistrationFeeLandingPage">Registration Fee</a></li>
					<li><a href="/collectTutionFeeLandingPage">Tution Fee</a></li>
					<li><a href="#">Exam Fee</a></li>
				</ul>
			</li>
			<li class="dropdown"><a class="dropdown-toggle"
				data-toggle="dropdown" href="#">Reports<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="/registrationFeeReports">Registration Fee Reports</a></li>
					<li><a href="/tutionFeeReports">Tution Fee Reports</a></li>
					<li><a href="#">Exam Fee Reports</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>

<div th:fragment="footer" class="text-center">&copy; Adhyapan All Rights Reserved</div>