<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" href="images/logo.PNG" />
<title>Adhyapan</title>

<link rel="stylesheet" href="css-lib/bootstrap.min.css">
<link rel="stylesheet" href="css-lib/jquery.dataTables.min.css">
<link rel="stylesheet" href="css-lib/dataTables.bootstrap.css"/>
<link rel="stylesheet" href="css-lib/jquery-ui.min.css"/>
<link rel="stylesheet" href="css-lib/bootstrap-select.min.css"/>
<link rel="stylesheet" href="css-lib/daterangepicker.css"/>

<link rel="stylesheet" href="css-custom/common.css">

<script src="js-lib/jquery.min.js"></script>
<script src="js-lib/bootstrap.min.js"></script>
<script src="js-lib/jquery.dataTables.min.js"></script>
<script src="js-lib/dataTables.bootstrap.min.js"></script>
<script src="js-lib/jquery-ui.min.js"></script>
<script src="js-lib/bootstrap-select.min.js"></script>
<script src="js-lib/moment.min.js"></script>
<script src="js-lib/daterangepicker.min.js"></script>

<script src="js-custom/common.js"></script>
<script src="js-custom/collect-tution-fee.js"></script>
</head>

<body>

	<div class="panel panel-default">
		<div class="panel-body">
			<header th:insert="components/header-footer.html :: header"> </header>

			<div class="panel entire-height">
				<div class="panel-body">
					<!-- Start your page content -->
					<div class="panel-heading">
						<h2>Collect Registration Fee</h2>
					</div>
					<div class="panel-body">
						
						<div class="row">
							<div class="col-lg-4">
								<label class="required">Student Name: </label>
								<input type="text" class="form-control" />
							</div>
							<div class="col-lg-4">
								<label class="required">Student: </label>
								<div th:insert="components/data-component.html :: frag-teacher-dropdown"> </div>
							</div>
							<div class="col-lg-4">
								<label class="required">Fee: </label>
								<input type="number" value="0" class="form-control" />
							</div>
						</div>
						<div class="row row-top-buffer">
							<div class="col-lg-12 text-center">
								<label>&nbsp;</label><br/>
								<button id="btn-save-registration-fee" class="btn btn-primary">Save</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<footer th:insert="components/header-footer.html :: footer"></footer>
		</div>
	</div>
	<input type="hidden" id="fee-category-id" th:attr = "value = ${feeCategoryId}" />
	<div class="modal-popup" id="registration-fee-dialog-message" title="Registration Fee">
		<p>Record saved successfully</p>
	</div>
	<div class="modal-popup" id="registration-fee-confirm-message" title="Registration Fee">
		<p>Are you sure to save the fee?</p>
	</div>
	
</body>
</html>