<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" href="images/logo.PNG" />
<title>Adhyapan</title>

<link rel="stylesheet" href="css-lib/bootstrap.min.css">
<link rel="stylesheet" href="css-lib/jquery.dataTables.min.css">
<link rel="stylesheet" href="css-lib/dataTables.bootstrap.css"/>
<link rel="stylesheet" href="css-lib/jquery-ui.min.css"/>
<link rel="stylesheet" href="css-lib/bootstrap-select.min.css"/>
<link rel="stylesheet" href="css-lib/daterangepicker.css"/>

<link rel="stylesheet" href="css-custom/common.css">

<script src="js-lib/jquery.min.js"></script>
<script src="js-lib/bootstrap.min.js"></script>
<script src="js-lib/jquery.dataTables.min.js"></script>
<script src="js-lib/dataTables.bootstrap.min.js"></script>
<script src="js-lib/jquery-ui.min.js"></script>
<script src="js-lib/bootstrap-select.min.js"></script>
<script src="js-lib/moment.min.js"></script>
<script src="js-lib/daterangepicker.min.js"></script>

<script src="js-custom/common.js"></script>
<script src="js-custom/create-class.js"></script>
</head>

<body>

	<div class="panel panel-default">
		<div class="panel-body">
			<header th:insert="components/header-footer.html :: header"> </header>

			<div class="panel entire-height">
				<div class="panel-body">
					<!-- Start your page content -->
					<div class="panel-heading">
						<h2>Create Class</h2>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-4">
								<label class="required">Class Code: </label>
								<input id="class-code" class="form-control" type="text" />
							</div>
							<div class="col-lg-4">
								<label class="required">Center: </label>
								<div th:insert="components/data-component.html :: frag-center-dropdown"> </div>
							</div>
						</div>
						<div class="row row-top-buffer">
							<div class="col-lg-4">
								<label class="required">Standard: </label><br/>
								<div th:insert="components/data-component.html :: frag-standard-dropdown"> </div>
							</div>
							<div class="col-lg-4">
								<label class="required">Subject: </label>
								<div th:insert="components/data-component.html :: frag-subject-dropdown"> </div>
							</div>
						</div>
						<div class="row row-top-buffer">
							<div class="col-lg-4">
								<label class="required">Teacher: </label>
								<div th:insert="components/data-component.html :: frag-teacher-dropdown"> </div>
							</div>
							<div class="col-lg-2">
								<label class="required">Start Date: </label>
								<input type="text" class="form-control" id="classStartDate" />
							</div>
							<div class="col-lg-2">
								<label class="required">End Date: </label>
								<input type="text" class="form-control" id="classEndDate" />
							</div>
						</div>
						<div class="row row-top-buffer">
							<div class="col-lg-8 text-right">
								<br/>
								<button id="btn-create-class" class="btn btn-primary">Create</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<footer th:insert="components/header-footer.html :: footer"></footer>
		</div>
	</div>

	<div class="modal-popup" id="create-class-dialog-message" title="Create Class">
		<p>Class created successfully</p>
	</div>
	
</body>
</html>