<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" href="images/logo.PNG" />
<title>Adhyapan</title>

<link rel="stylesheet" href="css-lib/bootstrap.min.css">
<link rel="stylesheet" href="css-lib/jquery.dataTables.min.css">
<link rel="stylesheet" href="css-lib/dataTables.bootstrap.css"/>
<link rel="stylesheet" href="css-lib/jquery-ui.min.css"/>
<link rel="stylesheet" href="css-lib/bootstrap-select.min.css"/>
<link rel="stylesheet" href="css-lib/daterangepicker.css"/>

<link rel="stylesheet" href="css-custom/common.css">

<script src="js-lib/jquery.min.js"></script>
<script src="js-lib/bootstrap.min.js"></script>
<script src="js-lib/jquery.dataTables.min.js"></script>
<script src="js-lib/dataTables.bootstrap.min.js"></script>
<script src="js-lib/jquery-ui.min.js"></script>
<script src="js-lib/bootstrap-select.min.js"></script>
<script src="js-lib/moment.min.js"></script>
<script src="js-lib/daterangepicker.min.js"></script>

<script src="js-custom/common.js"></script>
<script src="js-custom/register-teacher.js"></script>
</head>

<body>

	<div class="panel panel-default">
		<div class="panel-body">
			<header th:insert="components/header-footer.html :: header"> </header>

			<div class="panel entire-height">
				<div class="panel-body">
					<!-- Start your page content -->
					<div class="panel-heading">
						<h2>Register Teacher</h2>
					</div>
					<div class="panel-body">
						<form id="reg-teacher-form" action="javascript:void(0);">
							<div class="row">
								<div class="col-lg-4">
									<label class="required">First Name: </label>
									<input required="required" id="first-name" class="form-control" type="text" />
								</div>
								<div class="col-lg-4">
									<label class="required">Last Name: </label>
									<input required="required" id="last-name" class="form-control" type="text" />
								</div>
								<div class="col-lg-4">
									<label class="required">Teacher Code: </label>
									<input required="required" id="teacher-code" class="form-control" type="text" />
								</div>
							</div>
							<div class="row row-top-buffer">
								<div class="col-lg-4">
									<label class="required">School: </label>
									<div th:insert="components/data-component.html :: frag-school-dropdown"> </div>
								</div>
								<div class="col-lg-2">
									<label class="required">Subject: </label>
									<div th:insert="components/data-component.html :: frag-subject-dropdown"> </div>
								</div>
								<div class="col-lg-2">
									<label class="required">Contact: </label>
									<input required="required" id="teacher-contact" class="form-control" type="number" />
								</div>
								<div class="col-lg-4">
									<label>Address: </label>
									<input id="teacher-address" class="form-control" type="text" />
								</div>
							</div>
							<div class="row row-top-buffer text-center">
								<div class="col-lg-12">
									<button id="btn-register-teacher" class="btn btn-primary">Register</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

			<footer th:insert="components/header-footer.html :: footer"></footer>
		</div>
	</div>

	<div class="modal-popup" id="register-teacher-dialog-message" title="Register Teacher">
		<p>Teacher registered successfully</p>
	</div>
	
</body>
</html>