<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" href="images/logo.PNG" />
<title>Adhyapan</title>

<link rel="stylesheet" href="css-lib/bootstrap.min.css">
<link rel="stylesheet" href="css-lib/jquery.dataTables.min.css">
<link rel="stylesheet" href="css-lib/dataTables.bootstrap.css"/>
<link rel="stylesheet" href="css-lib/jquery-ui.min.css"/>
<link rel="stylesheet" href="css-lib/bootstrap-select.min.css"/>

<link rel="stylesheet" href="css-custom/common.css">

<script src="js-lib/jquery.min.js"></script>
<script src="js-lib/bootstrap.min.js"></script>
<script src="js-lib/jquery.dataTables.min.js"></script>
<script src="js-lib/dataTables.bootstrap.min.js"></script>
<script src="js-lib/jquery-ui.min.js"></script>
<script src="js-lib/bootstrap-select.min.js"></script>

<script src="js-custom/common.js"></script>
<script src="js-custom/view-student.js"></script>
</head>

<body>

	<div class="panel panel-default">
		<div class="panel-body">
			<header th:insert="header-footer.html :: header"> </header>

			<div class="panel entire-height">
				<div class="panel-body">
					<!-- Start your page content -->
					<div class="panel-heading">
						<h2>View Student</h2>
					</div>
					<div class="panel-body">
						<a class="padding-right-15" href="javascript:void(0);" th:each = "alphabet : ${alphabetList}"><span th:text="${alphabet}"></span></a>
					</div>
				</div>
			</div>

			<footer th:insert="header-footer.html :: footer"></footer>
		</div>
	</div>
</body>
</html>