.entire-height {
	height: calc(100vh - 165px);
	overflow-y: auto;
}

label.required:after {
	content: " *";
	color: red;
}

.modal-popup, .no-display{
	display: none;
}
.row-top-buffer{
	margin-top: 30px;
}

.row-top-buffer-5-per{
	margin-top: 5%;
}

.padding-right-15{
	padding-right:15px; 
}

.div-border-gray{
	border: 1px solid #CCC;
	padding: 10px;
	border-radius: 4px;
	min-height: 300px;
	max-height: 300px;
	overflow: auto;
}

.no-ul-style{
	list-style-type:none;
	padding: 0px;
}