.entire-height {
	height: calc(100vh - 165px);
	overflow-y: auto;
}

label.required:after {
	content: " *";
	color: red;
}

.modal-popup{
	display: none;
}
.row-top-buffer{
	margin-top: 30px;
}

.padding-right-15{
	padding-right:15px; 
}